{% extends 'HeadooEcommerceBundle::layout.html.twig' %}

{% block fos_login_content %}

    <div class="row">
        <div class="col-sm-4 col-sm-offset-8 text-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock fos_login_content %}

{% block hecommerce_breadcrumb %}

    <ol class="breadcrumb">
        <li><a href="{{ path(homePath) }}">{{ 'hecommerce.general.home'|trans({}, 'general') }}</a></li>
        {% if 'management' in app.request.attributes.get('_route') %}
            <li><a href="{{ path('hecommerce_management') }}">{{ 'hecommerce.management.title'|trans({}, 'management') }}</a></li>
            {% if entityName is defined %}
                {% set entityTitle = 'hecommerce.' ~ entityName ~ '.pl' %}
                {% if app.request.attributes.get('_route') == 'hecommerce_management_' ~ entityName %}
                    <li><a href="{{ path('hecommerce_management_' ~ entityName) }}">{{ entityTitle|trans({}, 'management') }}</a></li>
                {% elseif app.request.attributes.get('_route') == 'hecommerce_management_' ~ entityName ~ '_new' %}
                    <li><a href="{{ path('hecommerce_management_' ~ entityName) }}">{{ entityTitle|trans({}, 'management') }}</a></li>
                    <li><a href="{{ path('hecommerce_management_' ~ entityName ~ '_new') }}">{{ 'hecommerce.management.create'|trans({}, 'management') }}</a></li>
                {% elseif app.request.attributes.get('_route') == 'hecommerce_management_' ~ entityName ~ '_show' %}
                    <li><a href="{{ path('hecommerce_management_' ~ entityName) }}">{{ entityTitle|trans({}, 'management') }}</a></li>
                    <li><a href="{{ path('hecommerce_management_' ~ entityName ~ '_show', { 'id': entity.id } ) }}">{{ 'hecommerce.management.show'|trans({}, 'management') }}</a></li>
                {% elseif app.request.attributes.get('_route') == 'hecommerce_management_' ~ entityName ~ '_edit' %}
                    <li><a href="{{ path('hecommerce_management_' ~ entityName) }}">{{ entityTitle|trans({}, 'management') }}</a></li>
                    <li><a href="{{ path('hecommerce_management_' ~ entityName ~ '_edit', { 'id': entity.id } ) }}">{{ 'hecommerce.management.edit'|trans({}, 'management') }}</a></li>
                {% endif %}
            {% endif %}
        {%  endif %}
        {% if 'store' in app.request.attributes.get('_route') %}
            <li><a href="{{ path('hecommerce_store_buy') }}">{{ 'hecommerce.store.title'|trans({}, 'store') }}</a></li>
            {% if app.request.attributes.get('_route') == 'hecommerce_store_summary' %}
                <li><a href="{{ path('hecommerce_store_summary') }}">{{ 'hecommerce.store.summary'|trans({}, 'store') }}</a></li>
            {% endif %}
            {% if app.request.attributes.get('_route') == 'hecommerce_store_payment' %}
                <li><a href="{{ path('hecommerce_store_summary') }}">{{ 'hecommerce.store.summary'|trans({}, 'store') }}</a></li>
                <li><a href="{{ path('hecommerce_store_payment') }}">{{ 'hecommerce.store.payment'|trans({}, 'store') }}</a></li>
            {% endif %}
        {% endif %}
    </ol>

{% endblock hecommerce_breadcrumb %}


