{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    {% if app.request.attributes.get('_route') == 'hecommerce_management_paymentmethod_new' %}

        {{ form(form) }}

        <a class="btn btn-default" href="{{ path('hecommerce_management_paymentmethod') }}">
            {{ 'hecommerce.management.back'|trans({}, 'management') }}
        </a>

    {% elseif app.request.attributes.get('_route') == 'hecommerce_management_paymentmethod_show' %}

        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.name'|trans({}, 'management') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-4 text-left">
                <a class="btn btn-default"  href="{{ path('hecommerce_management_paymentmethod') }}">
                    {{ 'hecommerce.management.back'|trans({}, 'management') }}
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a class="btn btn-default"  href="{{ path('hecommerce_management_paymentmethod_edit', { 'id': entity.id }) }}">
                    {{ 'hecommerce.management.edit'|trans({}, 'management') }}
                </a>
            </div>
            <div class="col-sm-4 text-right">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger', 'type': 'button'} }) }}
                {{ form_end(delete_form) }}
            </div>
        </div>

    {% elseif app.request.attributes.get('_route') == 'hecommerce_management_paymentmethod_edit' %}

        {{ form(edit_form) }}

        <div class="row">
            <div class="col-sm-4 text-left">
                <a class="btn btn-default"  href="{{ path('hecommerce_management_paymentmethod') }}">
                    {{ 'hecommerce.management.back'|trans({}, 'management') }}
                </a>
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-right">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger', 'type': 'button'} }) }}
                {{ form_end(delete_form) }}
            </div>
        </div>

    {% endif %}

{% endblock hecommerce_content %}
