{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    {% if app.request.attributes.get('_route') == 'hecommerce_management_order_show' %}

        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.customer'|trans({}, 'management') }}</th>
                <td>{{ entity.user.firstName }} {{ entity.user.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.amount'|trans({}, 'management') }}</th>
                <td>{{ entity.totalPaymentDue|localizedcurrency(entity.user.priceCurrency.code) }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.orderdate'|trans({}, 'management') }}</th>
                <td>{{ entity.orderDate|localizeddate('short', 'none') }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.paymentdate'|trans({}, 'management') }}</th>
                {% if entity.paymentDate %}
                    <td>{{ entity.paymentDate|localizeddate('short', 'none') }}</td>
                {% else %}
                    <td>{{ 'hecommerce.management.pendingpayment'|trans({}, 'management') }}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-4 text-left">
                <h4>{{ 'hecommerce.management.purchasedservices'|trans({}, 'management') }}</h4>
            </div>
         </div>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                    <th>{{ 'hecommerce.management.name'|trans({}, 'management') }}</th>
                    <th>{{ 'hecommerce.management.description'|trans({}, 'management') }}</th>
                    <th>{{ 'hecommerce.management.price'|trans({}, 'management') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for orderedItem in entity.getOrderedItems %}
                        <td>{{ orderedItem.service.id }}</td>
                        <td>{{ orderedItem.service.translate(app.request.locale).getName }}</td>
                        <td>{{ orderedItem.service.translate(app.request.locale).getDescription }}</td>
                        <td>{{ orderedItem.service.price }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-4 text-left">
                <a class="btn btn-default"  href="{{ path('hecommerce_management_order') }}">
                    {{ 'hecommerce.management.back'|trans({}, 'management') }}
                </a>
            </div>
        </div>

    {% endif %}

{% endblock hecommerce_content %}
