{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'hecommerce.management.option'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.actions'|trans({}, 'management') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'hecommerce.order.pl'|trans({}, 'management') }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_order') }}">{{ 'hecommerce.management.check'|trans({}, 'management') }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'hecommerce.customergroup.pl'|trans({}, 'management') }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_customergroup') }}">{{ 'hecommerce.management.check'|trans({}, 'management') }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'hecommerce.service.pl'|trans({}, 'management') }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_service') }}">{{ 'hecommerce.management.check'|trans({}, 'management') }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'hecommerce.servicerange.pl'|trans({}, 'management') }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_servicerange') }}">{{ 'hecommerce.management.check'|trans({}, 'management') }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'hecommerce.pricecurrency.pl'|trans({}, 'management') }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_pricecurrency') }}">{{ 'hecommerce.management.check'|trans({}, 'management') }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ 'hecommerce.paymentmethod.pl'|trans({}, 'management') }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_paymentmethod') }}">{{ 'hecommerce.management.check'|trans({}, 'management') }}</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock hecommerce_content %}
