{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.name'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.description'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.pricecurrency'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.price'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.customergroup.sing'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.servicerange.sing'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.actions'|trans({}, 'management') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('hecommerce_management_service_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.translate(app.request.locale).getName }}</td>
                <td>{{ entity.translate(app.request.locale).getDescription }}</td>
                {% if entity.priceCurrency %}
                    <td>{{ entity.priceCurrency.code }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ entity.price }}</td>
                {% if entity.customerGroup %}
                    <td>{{ entity.customerGroup.name }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if entity.serviceRange %}
                    <td>{{ entity.serviceRange.name }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_service_show', { 'id': entity.id }) }}">{{ 'hecommerce.management.show'|trans({}, 'management') }}</a>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_service_edit', { 'id': entity.id }) }}">{{ 'hecommerce.management.edit'|trans({}, 'management') }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-4 text-left">
            <a class="btn btn-default"  href="{{ path('hecommerce_management') }}">
                {{ 'hecommerce.management.back'|trans({}, 'management') }}
            </a>
        </div>
        <div class="col-sm-4 col-sm-offset-4 text-right">
            <a class="btn btn-default" href="{{ path('hecommerce_management_service_new') }}">
                {{ 'hecommerce.management.create'|trans({}, 'management') }}
            </a>
        </div>
    </div>

{% endblock hecommerce_content %}
