{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h1>{{ 'hecommerce.management.service'|trans({}, 'management') }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.name'|trans({}, 'management') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.description'|trans({}, 'management') }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.price'|trans({}, 'management') }}</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.customergroup'|trans({}, 'management') }}</th>
                <td>{{ entity.customerGroup.name }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.servicerange'|trans({}, 'management') }}</th>
                <td>{{ entity.serviceRange.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('hecommerce_service') }}">
            {{ 'hecommerce.management.backtothelist'|trans({}, 'management') }}
        </a>
    </li>
    <li>
        <a href="{{ path('hecommerce_service_edit', { 'id': entity.id }) }}">
            {{ 'hecommerce.management.edit'|trans({}, 'management') }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock hecommerce_content %}
