{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h4>{{ entity.name }}</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.name'|trans({}, 'management') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.description'|trans({}, 'management') }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.price'|trans({}, 'management') }}</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.customergroup.sing'|trans({}, 'management') }}</th>
                <td>{{ entity.customerGroup.name }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.servicerange.sing'|trans({}, 'management') }}</th>
                <td>{{ entity.serviceRange.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-4 text-left">
            <a class="btn btn-default"  href="{{ path('hecommerce_service') }}">
                {{ 'hecommerce.management.back'|trans({}, 'management') }}
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a class="btn btn-default"  href="{{ path('hecommerce_service_edit', { 'id': entity.id }) }}">
                {{ 'hecommerce.management.edit'|trans({}, 'management') }}
            </a>
        </div>
        <div class="col-sm-4 text-right">
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger', 'type': 'button'} }) }}
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock hecommerce_content %}
