{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.code'|trans({}, 'management') }}</th>
                <th>{{ 'hecommerce.management.actions'|trans({}, 'management') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('hecommerce_management_pricecurrency_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_pricecurrency_show', { 'id': entity.id }) }}">{{ 'hecommerce.management.show'|trans({}, 'management') }}</a>
                    <a class="btn btn-default" href="{{ path('hecommerce_management_pricecurrency_edit', { 'id': entity.id }) }}">{{ 'hecommerce.management.edit'|trans({}, 'management') }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-4 text-left">
            <a class="btn btn-default"  href="{{ path('hecommerce_management') }}">
                {{ 'hecommerce.management.back'|trans({}, 'management') }}
            </a>
        </div>
        <div class="col-sm-4 col-sm-offset-4 text-right">
            <a class="btn btn-default" href="{{ path('hecommerce_management_pricecurrency_new') }}">
                {{ 'hecommerce.management.create'|trans({}, 'management') }}
            </a>
        </div>
    </div>

{% endblock hecommerce_content %}
