{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}
    
    <table class="table">
       <thead> 
           <tr>
               <th>{{ 'hecommerce.store.service'|trans({}, 'store') }}</th>
               <th>{{ 'hecommerce.store.description'|trans({}, 'store') }}</th>
               <th>{{ 'hecommerce.store.price'|trans({}, 'store') }}</th>
               <th>{{ 'hecommerce.store.quantity'|trans({}, 'store') }}</th>
           </tr>
       </thead>
       <tbody> 
        {% for service in services %}
           <tr>
               <td>{{ service.translate(app.request.locale).getName }}</td>
               <td>{{ service.translate(app.request.locale).getDescription }}</td>
                    <td>{{ service.price|localizedcurrency(customerGroup.priceCurrency.code) }}</td>
               <td>
                   <form action="{{ path('hecommerce_store_cart', { 'id': service.id }) }}" method="POST">
                        <input type="text" name="service-{{ service.id }}" >
                        <input type="submit" value="{{ 'hecommerce.store.addcart'|trans({}, 'store') }}" >
                   </form>
               </td>
           </tr> 
        {% endfor %}
       </tbody>           
    </table>
    <div class="row">
        <div class="col-sm-4 text-left">
            <p><a href="{{ path('hecommerce_store_summary') }}">{{ 'hecommerce.store.cart'|trans({}, 'store') }}</a> ({{ quantity }})</p>
            <p><b>{{ 'hecommerce.store.total'|trans({}, 'store') }}:</b> {{ total|localizedcurrency(customerGroup.priceCurrency.code) }}</p>
        </div>
        <div class="col-sm-4 col-sm-offset-4 text-right">
            <a class="btn btn-primary" href="{{ path('hecommerce_store_summary') }}">
                {{ 'hecommerce.store.checkcart'|trans({}, 'store') }}
            </a>
        </div>
    </div>

{% endblock hecommerce_content %}

