{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}
    {% if services is defined and user.priceCurrency is not null %}
        <table class="table">
           <thead>
               <tr>
                   <th>{{ 'hecommerce.store.service'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.servicerange'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.description'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.price'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.quantity'|trans({}, 'store') }}</th>
               </tr>
           </thead>
           <tbody>
                {% for service in services %}
                   <tr>
                       <td>{{ service.translate(app.request.locale).getName }}</td>
                       <td>{{ service.serviceRange.name }}</td>
                       <td>{{ service.translate(app.request.locale).getDescription }}</td>
                       <td>{{ service.price|localizedcurrency(user.priceCurrency.code) }}</td>
                       <td>
                           <form action="{{ path('hecommerce_store_cart', { 'id': service.id }) }}" method="POST">
                               <div class="row">
                                   <div class="col-sm-6">
                                        <input class="form-control input-md" type="text" name="service-{{ service.id }}" >
                                   </div>
                                   <div class="col-sm-6">
                                        <input class="btn btn-default" type="submit" value="{{ 'hecommerce.store.addcart'|trans({}, 'store') }}" >
                                   </div>
                               </div>
                           </form>
                       </td>
                   </tr>
                    {% if services is null %}
                        <tr>
                            <td>{{ 'hecommerce.store.noservicesavailable'|trans({}, 'store') }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
           </tbody>
       </table>
       <div class="row">
           <div class="col-sm-4 text-left">
               <p><a href="{{ path('hecommerce_store_summary') }}">{{ 'hecommerce.store.cart'|trans({}, 'store') }}</a> ({{ quantity }})</p>
               <p><b>{{ 'hecommerce.store.total'|trans({}, 'store') }}:</b> {{ total|localizedcurrency(user.priceCurrency.code) }}</p>
           </div>
           <div class="col-sm-4 col-sm-offset-4 text-right">
               <a class="btn btn-primary" href="{{ path('hecommerce_store_summary') }}">
                   {{ 'hecommerce.store.checkcart'|trans({}, 'store') }}
               </a>
           </div>
       </div>
   {% else %}
        <div class="row">
            <div class="col-sm-4 text-left">
               <p>{{ 'hecommerce.store.usernoservice'|trans({}, 'store') }}</p>
               <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">{{ 'hecommerce.store.useredit'|trans({}, 'store') }}</a>
            </div>
        </div>
   {% endif %}

{% endblock hecommerce_content %}

