{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    {% if order is empty %} 
        {{ 'hecommerce.store.emptycart'|trans({}, 'store') }}
    {% else %}
        <table class="table">
           <tbody> 
                {% for method in paymentMethods %}
                   <tr>
                       <th>
                           <img href="{{ asset('/bundles/headooecommerce/images/' ~ method.name ~ '.jpg') }}" width="80px" alt="payment method" />
                       </th>
                       <td>
                            <a class="btn btn-primary" href="{{ path('hecommerce_payment_prepare_' ~ method.name) }}">{{ 'hecommerce.store.choosepayment'|trans({}, 'store') }}</a>
                       </td>
                   </tr>
                {% endfor %}
           </tbody>           
        </table>
    {% endif %}

    <img src="{{ asset('/bundles/headooecommerce/images/stripe-logo.png') }}" alt="powered by stripe">

{% endblock hecommerce_content %}
