{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h4>{{ 'hecommerce.paymentmethod.pl'|trans({}, 'management') }}</h4>
    {% if order is empty %} 
        {{ 'hecommerce.store.emptycart'|trans({}, 'store') }}
    {% else %}
        <table class="table">
           <tbody> 
                {% for method in paymentMethods %}
                   <tr>
                       <th>
                           {% set paymentMethodImg = method.name %}
                           <img src="{{ asset('@EcommerceBundle/Resources/public/images/' ~ paymentMethodImg ~ '.png') }}" width="80px" alt="payment method" class="pull-left">
                       </th>
                       <td>
                            <a href="{{ path('hecommerce_payment_prepare_' ~ method.name) }}">{{ 'hecommerce.store.choosepayment'|trans({}, 'store') }}</a>
                       </td>
                   </tr>
                {% endfor %}
           </tbody>           
        </table>
        <div class="col-sm-4 col-sm-offset-8 text-right">
            <a href="{{ path('hecommerce_store_summary') }}">{{ 'hecommerce.store.backtosummary'|trans({}, 'store') }}</a>
        </div>
    {% endif %}

{% endblock hecommerce_content %}
