{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    {% if order is empty %} 
        {{ 'hecommerce.store.emptycart'|trans({}, 'store') }}
    {% else %}
        <table class="table">
           <tbody> 
                {% for method in paymentMethods %}
                   <tr>
                       <th>
                           {% set paymentMethodImg = method.name %}
                           <img src="{{ asset('images/' ~ paymentMethodImg ~ '.png') }}" width="80px" alt="payment method">

                           {% image '@HeadooEcommerceBundle/Resources/public/images/' ~ paymentMethodImg ~ '.jpg' output="images/your-image.jpg" %}
                                <img src="{{ asset_url }}" alt="my alt of image" class="pull-left">
                           {% endimage %}
                       </th>
                       <td>
                            <a class="btn btn-primary" href="{{ path('hecommerce_payment_prepare_' ~ method.name) }}">{{ 'hecommerce.store.choosepayment'|trans({}, 'store') }}</a>
                       </td>
                   </tr>
                {% endfor %}
           </tbody>           
        </table>
    {% endif %}

    <img src="{{ asset('@EcommerceBundle/Resources/public/images/stripe-logo.png') }}" alt="powered by stripe">

{% endblock hecommerce_content %}
