{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    {% if order is empty %} 
        {{ 'hecommerce.store.emptycart'|trans({}, 'store') }}
    {% else %}
        <table class="table">
           <thead> 
               <tr>
                   <th>{{ 'hecommerce.store.service'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.quantity'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.price'|trans({}, 'store') }}</th>
               </tr>
           </thead>
           <tbody> 
                {% for item in orderedItems %}
                   <tr>
                       <td>{{ item.service.translate(app.request.locale).getName }}</td>
                       <td>{{ item.quantity }}</td>
                       <td>{{ item.service.price|localizedcurrency(order.user.priceCurrency.code) }}</td>
                   </tr>
                {% endfor %}
           </tbody>           
           <tfoot> 
               <tr>
                   <th>{{ 'hecommerce.store.total'|trans({}, 'store') }}</th>
                   <th></th>
                   <th>{{ order.totalPaymentDue|localizedcurrency(order.user.priceCurrency.code) }}</th>
               </tr>
           </tfoot>
        </table>
        {% if userMessage is empty %}
            <div class="row">
                <div class="col-sm-4 text-left">
                    {{ form(delete_form) }}
                </div>
                <div class="col-sm-4 col-sm-offset-4 text-right">
                    <a class="btn btn-primary" href="{{ path('hecommerce_store_payment') }}">{{ 'hecommerce.store.checkout'|trans({}, 'store') }}</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-4">
                    <p>{{ userMessage }}</p>
                    <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">{{ 'hecommerce.store.useredit'|trans({}, 'store') }}</a>
                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock hecommerce_content %}
