{% extends '::base.html.twig' %}

{% block body -%}

    <h1>{{ 'hecommerce.store.summary'|trans({}, 'store') }}</h1>
    {% if order is empty %} 
        {{ 'hecommerce.store.emptycart'|trans({}, 'store') }}
    {% else %}
        <table>
           <thead> 
               <tr>
                   <th>{{ 'hecommerce.store.service'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.quantity'|trans({}, 'store') }}</th>
                   <th>{{ 'hecommerce.store.price'|trans({}, 'store') }}</th>
               </tr>
           </thead>
           <tbody> 
                {% for item in orderedItems %}
                   <tr>
                       <td>{{ item.service.name }}</td>
                       <td>{{ item.quantity }}</td>
                       <td>{{ item.service.price|localizedcurrency(order.user.customerGroup.priceCurrency.code) }}</td>
                   </tr>
                {% endfor %}
           </tbody>           
           <tfoot> 
               <tr>
                   <th>{{ 'hecommerce.store.total'|trans({}, 'store') }}</th>
                   <th></th>
                   <th>{{ order.totalPaymentDue|localizedcurrency(order.user.customerGroup.priceCurrency.code) }}</th>
               </tr>
           </tfoot>
        </table>
        <br>
        {% if userMessage is empty %}
            <a href="{{ path('hecommerce_store_payment') }}">{{ 'hecommerce.store.checkout'|trans({}, 'store') }}</a>
            {{ form(delete_form) }}
            <br><br>
        {% else %}
            <p>{{ userMessage }}</p>
            <a href="{{ path('fos_user_profile_edit') }}">{{ 'hecommerce.store.useredit'|trans({}, 'store') }}</a><br><br>
        {% endif %}
        
        <a href="{{ path('hecommerce_store_buy') }}">{{ 'hecommerce.store.backtostore'|trans({}, 'store') }}</a>
    {% endif %}

{% endblock %}
