{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'hecommerce.servicerange.edit'|trans({}, 'management') }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('hecommerce_servicerange') }}">
            {{ 'hecommerce.management.backtothelist'|trans({}, 'management') }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
