{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h4>{{ entity.name }}</h4>

    {{ form(edit_form) }}

    <div class="row">
        <div class="col-sm-4 text-left">
            <a class="btn btn-default"  href="{{ path('hecommerce_servicerange') }}">
                {{ 'hecommerce.management.back'|trans({}, 'management') }}
            </a>
        </div>
        <div class="col-sm-4 col-sm-offset-4 text-right">
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger', 'type': 'button'} }) }}
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock hecommerce_content %}
