{% extends 'HeadooEcommerceBundle::layout.html.twig' %}

{% block hecommerce_content %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <a href="{{ path('app_index') }}">{{ 'home.title'|trans() }}</a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4 text-right">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <h4>{{ 'home.welcome'|trans() }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <a class="btn btn-default" href="{{ path('hecommerce_management') }}">{{ 'home.store.manager'|trans() }}</a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <a class="btn btn-default" href="{{ path('hecommerce_store_buy') }}">{{ 'home.store.visit'|trans() }}</a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <a href="{{ path('app_index') }}">{{ 'home.title'|trans() }}</a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'home.login'|trans() }}</a>
                    </div>
                    <div class="col-sm-4 text-right">
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'home.register'|trans() }}</a>
                    </div>
                </div>
            {% endif %}

{% endblock hecommerce_content %}



