{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h1>{{ 'hecommerce.customergroup.edit'|trans({}, 'management') }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('hecommerce_customergroup') }}">
            {{ 'hecommerce.management.backtothelist'|trans({}, 'management') }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock hecommerce_content %}
