{% extends 'HeadooEcommerceBundle::base.html.twig' %}

{% block hecommerce_content %}

    <h4>{{ 'hecommerce.management.customergroup'|trans({}, 'management') }}</h4>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>{{ 'hecommerce.management.id'|trans({}, 'management') }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.name'|trans({}, 'management') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'hecommerce.management.pricecurrency.sing'|trans({}, 'management') }}</th>
                <td>{{ entity.priceCurrency.code }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-4 text-left">
            <a class="btn btn-default"  href="{{ path('hecommerce_customergroup') }}">
                {{ 'hecommerce.management.backtothelist'|trans({}, 'management') }}
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a class="btn btn-default"  href="{{ path('hecommerce_customergroup_edit', { 'id': entity.id }) }}">
                {{ 'hecommerce.management.edit'|trans({}, 'management') }}
            </a>
        </div>
        <div class="col-sm-4 text-right">
            {{ form(delete_form) }}
        </div>
    </div>

{% endblock hecommerce_content %}
